<!DOCTYPE html>
<html>
<head>
    <title>Comunicados - Página Principal</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        {% else %}
            <a href="{% url 'login' %}">Iniciar Sesión</a>
        {% endif %}
    </header>
    <h1>Bienvenido a la Aplicación de Comunicados</h1>

    <!-- Aquí puedes agregar contenido adicional, como enlaces a diferentes secciones de la aplicación o mensajes de bienvenida -->

    
    {% if user.is_authenticated %}
        <!-- Si el usuario está autenticado, puedes mostrar opciones adicionales, como enlaces para crear comunicados o categorías -->
        <a href="{% url 'crear_comunicado' %}">Crear Comunicado</a>
    {% endif %}
    {% if user.is_superuser %}
        <a href="{% url 'crear_categoria' %}">Crear Categoría</a>
        <a href="{% url 'crear_usuario' %}">Crear Usuario</a>
    {% endif %}
    <!--filtrar por nivel de comunicado-->

    <form method="get">
        <label for="nivel">Nivel:</label>
        <select name="nivel" id="nivel">
            <option value="">Todos</option>
            <option value="GEN">General</option>
            <option value="PRE">Preescolar</option>
            <option value="BAS">Basico</option>
            <option value="MED">Media</option>
        </select>
        <button type="submit">Filtrar</button>
    
    {% for comunicado in comunicados %}
        <h3>{{ comunicado.titulo }}</h3>
        <p>{{ comunicado.detalle }}</p>
        <p>Nivel: {{ comunicado.nivel }}</p>
        <p>Categoría: {{ comunicado.categoria }}</p>
        <p>Fecha de Envío: {{ comunicado.fecha_envio }}</p>
        <p>Fecha Última Modificación: {{ comunicado.fecha_modificacion }}</p>
        <p>Usuario: {{ comunicado.usuario }}</p>
        <hr>
    {% empty %}
        <p>No hay comunicados disponibles.</p>
    {% endfor %}
</body>
</html>